{% extends 'accounts/base.html' %}
{% block title %}Login to Siksha{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
    <!-- login Modal -->
    <div class="modal fade" id="login-signup-forced" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="login-forced-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-forced-label">Login to continue</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'login' %}" class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Username</label>
                            <input type="text" placeholder="Type your username" class="form-control" name="username" required>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Password</label>
                            <input placeholder="********" type="password" class="form-control" name="password" required>
                        </div>
                        {% include 'accounts/message.html' %}
                        <div class="d-flex justify-content-between">
                            <div class="p-3">
                                <button class="btn btn-primary" type="submit">Login</button>
                            </div>
                            <div class="p-3">
                                <a class="other-links" href="#">Forgot password?</a><br>
                                <a class="other-links" href="{% url 'signup' %}">Don't have an account?</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}