{% extends 'accounts/base.html' %}

{% block title %}Signup to eCom{% endblock %}

{% block body %}
    <!-- signup Modal -->
    <div class="modal fade" id="login-signup-forced" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="login-forced-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-forced-label">Sign Up to Siksha</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'signup' %}" class="row g-3 needs-validation">
                        {% csrf_token %}
                        <div class="mt-4"></div>
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="fname" required>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="lname" required>
                        </div>


                        <div class="col-md-12">
                            <label for="validationCustom01" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" required>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustom01" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" required>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Enter Password</label>
                            <input type="text" class="form-control" name="pass1" required>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Confirm password</label>
                            <input type="text" class="form-control" name="pass2" required>
                        </div>
                        {% include 'accounts/message.html' %}
                        <div class="d-flex justify-content-between">
                        <div class="pt-3 pb-3">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                        <div class="pt-3 pb-3">
                            <!-- <a class="other-links" href="">Forgot password?</a><br> -->
                            <a class="other-links" href="{% url 'login' %}">Already have an account?</a>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
